<div class="modal fade modal-common" id="CreateCategoryModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Category</h5>
      </div>
      <div class="modal-body">
        <form [formGroup] = "categoryForm" (ngSubmit) = "submit(categoryForm)"  novalidate>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Name Category</label>
                    <input type="text" formControlName="name" class="form-control border-input" placeholder="Enter Name Category">
                </div>
              </div>
              </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Number Vote per User</label>
                        <input type="number"  formControlName="ballotNumber" class="form-control border-input" placeholder="Enter ballotNumber">
                    </div>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Start Date</label>
                        <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" formControlName="startDate" class="form-control border-input">
                        <owl-date-time #dt [pickerType]="'calendar'" ></owl-date-time>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>End Date</label>
                        <input [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" formControlName="endDate" class="form-control border-input">
                        <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!categoryForm.valid">CREATE</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>

