
  <!-- Sidebar -->
  <div class="bg-light" id="sidebar-wrapper">
    <div class="sidebar-heading">ADMIN VOTE</div>
    <div class="list-group list-group-flush">
      <a href="" class="list-group-item list-group-item-action bg-light"[routerLink]="['/home']">Dashboard</a>
      <a href="" class="list-group-item list-group-item-action bg-light" [routerLink]="['/category']">Category</a>
      <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/user']">Users</a>
      <a href="" class="list-group-item list-group-item-action bg-light" [routerLink]="['/contact']">Contact</a>
    </div>
  </div>
